bandit[toml]==1.7.8
cryptography==43.0.3
flake8==7.0.0
flake8-pyproject==1.2.3
isort==5.13.2
prettyprinter==0.18.0
python-dateutil==2.9.0.post0
requests==2.32.3
termcolor==2.5.0
types-python-dateutil==2.9.0.20241003
types-requests==2.32.0.20241016
vulture==2.11
